<!DOCTYPE html>
<html lang="en" ng-app="helloWorldApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="libraries/angular.min.js"></script>
    <script type="text/javascript">
        //Model
        var model = 'Hello world';

        //Controller
        var helloWorldApp = angular.module('helloWorldApp', []);

        helloWorldApp.controller('helloWorldCtrl', function ($scope) {
            $scope.message = model;
        });

    </script>
</head>
<body ng-controller="helloWorldCtrl">
<h1>{{ message }}</h1>
</body>
</html>