<!DOCTYPE html>
<html lang="en" ng-app="coursePlannerApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="libraries/bootstrap.css" rel="stylesheet">
    <link href="libraries/bootstrap-theme.css" rel="stylesheet">
    <script src="libraries/angular.min.js"></script>
    <script type="text/javascript">
        //Model
        var model = {
            user: "User Name",
            courses: [
                {name: 'Java, Android', passed: true},
                {name: 'C, C++, Objective-C', passed: false},
                {name: 'PHP, JavaScript', passed: true},
                {name: 'HTML5, CSS3', passed: true},
                {name: 'AngularJS', passed: true}
            ]
        };

        //Controller
        var coursePlannerApp = angular.module('coursePlannerApp', []);

        coursePlannerApp.controller('coursePlannerCtrl', function ($scope) {
            $scope.data = model;

            $scope.addNewCourse = function () {
                $scope.data.courses.push(
                        {
                            name: $scope.courseName,
                            passed: false
                        }
                )
                $scope.courseName = "";
            }

            $scope.setStyle = function (isPassed) {
                return (isPassed) ? 'color: green;' : 'color: red;';
            }

            $scope.setText = function (isPassed) {
                return (isPassed) ? 'Yes' : 'No';
            }

        });

    </script>
</head>
<body ng-controller="coursePlannerCtrl">
<div class="container">
    <div class="page-header">
        <h3>User {{data.user}}, passed courses count - {{data.courses.length}}</h3>
        <div class="input-group">
            <input ng-model="courseName" class="form-control"/>
            <span class="input-group-btn">
                <button ng-click="addNewCourse()" class="btn btn-default">Add Course</button>
            </span>
        </div>
    </div>
    <div class="panel">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Course name</th>
                <th></th>
                <th>Is passed</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="course in data.courses">
                <td>{{ course.name }}</td>
                <td><input type="checkbox" ng-model="course.passed"/></td>
                <td style="{{ setStyle(course.passed) }}">
                    {{ setText(course.passed) }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>