<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title><!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"
          integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
<div class="container">
    <div ng-app="myApp" ng-controller="myController">
        <div ng-repeat="stud in students" class="form-group">
            <div ng-hide="isEditForm">
                <span>{{stud.name}} - {{stud.age}}</span>
                <button ng-click="isEditForm=true;" class="btn btn-sm btn-info">Edit Student</button>
            </div>
            <div ng-show="isEditForm" class="btn-group">
                <label>Enter Name</label><input ng-model="stud.name" class="form-control"/>
                <label>Enter Age</label><input ng-model="stud.age" class="form-control"/>
                <button ng-click="isEditForm=false;" class="btn btn-sm btn-success">Save</button>
            </div>
        </div>
        <br/><br/>

        <div ng-hide="isAddForm" class="form-group">
            <button class="btn btn-sm btn-success" ng-click="isAddForm=true;">Add Student</button>
        </div>
        <div ng-show="isAddForm" class="btn-group">
            <label>Enter name</label><input ng-model="newStudent.name" class="form-control"/>
            <label>Enter Age</label><input ng-model="newStudent.age" class="form-control"/>
            <button ng-click="addStudent()" class="btn btn-sm btn-success">Add</button>
            <button ng-click="isAddForm=false;" class="btn btn-sm btn-default">Cancel</button>
        </div>
    </div>
    <script>
        var app = angular.module('myApp', []);
        var dataFromServer = [
            {"name": "ABC", "age": 21},
            {"name": "DEF", "age": 22},
            {"name": "GHI", "age": 23},
            {"name": "XYZ", "age": 24}
        ];

        var company = {
            "suggestions": [
                {
                    "value": "ПАО СБЕРБАНК",
                    "unrestricted_value": "ПАО СБЕРБАНК",
                    "data": {
                        "kpp": "775001001",
                        "management": {
                            "name": "Греф Герман Оскарович",
                            "post": "Президент-председатель правления"
                        },
                        "branch_type": "MAIN",
                        "branch_count": 1,
                        "type": "LEGAL",
                        "opf": {
                            "code": "12247",
                            "full": "Публичное акционерное общество",
                            "short": "ПАО"
                        },
                        "name": {
                            "full_with_opf": "ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО \"СБЕРБАНК РОССИИ\"",
                            "short_with_opf": "ПАО СБЕРБАНК",
                            "latin": null,
                            "full": "СБЕРБАНК РОССИИ",
                            "short": "СБЕРБАНК"
                        },
                        "inn": "7707083893",
                        "ogrn": "1027700132195",
                        "okpo": null,
                        "okved": null,
                        "state": {
                            "status": "ACTIVE",
                            "actuality_date": 1443312000000,
                            "registration_date": 677376000000,
                            "liquidation_date": null
                        },
                        "address": {
                            "value": "г Москва, ул Вавилова, д 19",
                            "unrestricted_value": "г Москва, ул Вавилова, д 19",
                            "data": {}
                        }
                    }
                }
            ]
        };

        console.log(company);

        localStorage.setItem('studentsList', JSON.stringify(dataFromServer));

        app.controller('myController', function ($scope) {
            $scope.students = JSON.parse(localStorage.getItem('studentsList'));
            $scope.newStudent = {};
            $scope.addStudent = function () {
                if ($scope.newStudent.name && $scope.newStudent.age) {
                    $scope.students.push({"name": $scope.newStudent.name, "age": $scope.newStudent.age});
                    $scope.isAddForm = false;
                    localStorage.setItem('studentsList', JSON.stringify($scope.students));
                }
                console.log(JSON.parse(localStorage.getItem('studentsList')));
            };
        });
    </script>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
            integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"
            integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD"
            crossorigin="anonymous"></script>
</div>
</body>
</html>
